*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
}
.navbar{
    padding: 2vw 1vw;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
.navbar a{
    font-size: 1.2vw;
    text-decoration: none;
    color: black;
}

.navbar a:nth-child(4){
    font-size: 20px;
}

.center{
    width: 100%;
    padding: 3vw 6vw;
    /* background-color: beige; */
}

.center h1{
    /* font-size: 50px; */
    font-size: 3.5vw;
    line-height: 4.3vw;
    font-weight: 400;
}

.center_para{
    width: 100%;
    padding: 1vw 6vw;
    line-height: 2vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: space-between;
    /* background-color: blueviolet; */
}

.right_corner{
    width: 30%;
    /* padding: 20px 0px; */
    /* background-color: aquamarine; */
}

.right{
    padding: 10px 0px;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right a{
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}

.right i{
    font-size: 1.4vw;
    font-weight: 100;
    opacity: 0;
}

.right:hover i{
    opacity: 1;
}

.right:hover {
    background-color: rgba(252, 248, 243, 0.849);
}

.right:hover a{
    text-decoration: underline;
}

.image{
    background:url(https://images.unsplash.com/photo-1529139574466-a303027c1d8b?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position:0 25%;
    background-size:cover;
    width: 100%;
    height: 80%;
}

@media (max-width:600px) {
    .navbar{
        padding: 2vw 1vw;
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
    }
    .navbar a{
        font-size: 3vw;
        text-decoration: none;
        color: black;
        /* display: none; */
    }
    
    .navbar a:nth-child(4){
        font-size: 3vw;
}
.center{
    width: 100%;
    padding: 3vw 6vw;
    /* background-color: beige; */
}

.center h1{
    /* font-size: 50px; */
    font-size: 11.5vw;
    line-height: 12vw;
    font-weight: 300;
}

.center_para{
    width: 100%;
    padding: 3vw 6vw;
    line-height: 5vw;
    font-size: 3.8vw;
    /* display: flex; */
    /* justify-content: space-between; */
    flex-direction: column;
    /* background-color: blueviolet; */
}


.right{
    padding: 5px 0px;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right a{
    text-decoration: none;
    color: black;
    font-size: 3vw;
}

.right_corner{
    width: 100%;
    padding: 5vw 0vw;
}

.right i{
    font-size: 4vw;
    font-weight: 100;
    opacity: 1;
}

.right:hover {
    background-color: rgba(252, 248, 243, 0.849);
}
}